{% extends "layouts/guest.twig" %}

{% block content %}
	<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
		<div class="card border-0 bg-transparent" style="width: 100%; max-width: 400px;">
			<div class="card-body">

				<div class="text-center mb-3">
					<img src="/img/logo_white.png" alt="Logo" class="img-fluid" style="max-width: 120px;">
				</div>

				<h2 class="text-center mb-2 text-white fw-light">
					Criar Usuário
				</h2>

				<p class="card-text text-center text-white mb-3">
					<span class="d-block small text-white-50 mb-1">Cadastro de acesso para o gabinete</span>
					<span class="d-block fw-semibold fs-5">{{ gabinete.nome }}</span>
				</p>

				{% if status == 'info' %}
					<div class="alert alert-info rounded-pill py-2 px-4 border-0 text-center small fw-semibold mb-2" data-time="3">
						{{ message }}
					</div>
				{% endif %}

				{% if status == 'server_error' %}
					<div class="alert alert-danger rounded-pill py-2 px-4 border-0 text-center small fw-semibold mb-2">
						{{ message }}
						<br>
						<small class="opacity-75">ID do Erro:
							{{ error_id }}</small>
					</div>
				{% endif %}

				{% if status == 'success' %}
					<div class="alert alert-success rounded-pill py-2 px-4 border-0 text-center small fw-semibold mb-2">
						{{ message }}
					</div>
				{% endif %}

				<form method="post" class="custom-form" enctype="application/x-www-form-urlencoded">

					<div class="mb-2">
						<input type="text" name="nome" class="form-control rounded-pill py-2 px-4" placeholder="Nome completo" required>
					</div>

					<div class="mb-2">
						<input type="email" name="email" class="form-control rounded-pill py-2 px-4" placeholder="E-mail" required>
					</div>

					<div class="row g-2 mb-2">
						<div class="col-6">
							<input type="text" name="telefone" class="form-control rounded-pill py-2 px-4" data-mask="(00) 00000-0000" placeholder="Telefone">
						</div>

						<div class="col-6">
							<input type="text" name="aniversario" class="form-control rounded-pill py-2 px-4" data-mask="00/00" placeholder="Aniversário (d/m)">
						</div>
					</div>

					<div class="row g-2 mb-4">
						<div class="col-6">
							<input type="password" name="senha" class="form-control rounded-pill py-2 px-4" placeholder="Senha" required>
						</div>

						<div class="col-6">
							<input type="password" name="confirmar_senha" class="form-control rounded-pill py-2 px-4" placeholder="Confirmar senha" required>
						</div>
					</div>

					<div class="col-12 d-flex gap-2 mt-3">
						<button type="submit" name="btn_salvar" class="btn btn-success rounded-pill py-2 w-100">Salvar</button>
						<a href="/login" class="btn btn-primary rounded-pill py-2 w-100">Voltar para login</a>
					</div>

				</form>


			</div>
		</div>
	</div>
{% endblock %}
