{% extends "layouts/guest.twig" %}

{% block content %}
	<div class="container-fluid d-flex justify-content-center align-items-center py-4" style="min-height: 100dvh;">
		<div class="card border-0 bg-transparent" style="width: 100%; max-width: 470px;">
			<div class="card-body">
				<div class="text-center mb-3">
					<img src="img/logo_white.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
				</div>

				<h2 class="text-center mb-2 text-white fw-light">
					{{ app_name }}
				</h2>

				<p class="card-text text-center text-white mb-4">{{ app_slogan }}</p>

				{% if status in ['success', 'info'] %}
					<div class="alert alert-{{ status }} rounded-pill py-2 px-4 border-0 text-center small fw-semibold mb-2">
						{{ message }}
					</div>
				{% endif %}

				{% if status == 'error' %}
					<div class="alert alert-danger rounded-pill py-2 px-4 border-0 text-center small fw-semibold mb-2">
						{{ message }}
						{{ error_id }}
					</div>
				{% endif %}

				<form class="row g-2 custom-form" method="POST">
					<div class="col-12">
						<input type="text" class="form-control rounded-pill py-2 px-4 border-0" name="nome" placeholder="Nome do responsável pelo gabinete" required>
					</div>

					<div class="col-12">
						<input type="email" class="form-control rounded-pill py-2 px-4 border-0" name="email" placeholder="E-mail" required>
					</div>

					<div class="col-6">
						<input type="password" class="form-control rounded-pill py-2 px-4 border-0" name="senha" placeholder="Senha" required>
					</div>
					<div class="col-6">
						<input type="password" class="form-control rounded-pill py-2 px-4 border-0" name="senha2" placeholder="Confirme a senha" required>
					</div>

					<div class="col-md-6">
						<select class="form-select rounded-pill py-2 px-4 border-0" name="tipo_gabinete_id" id="tipo_gabinete_id" required>
							<option disabled selected hidden value="">Tipo de gabinete</option>

							{% for tipo in tipos_gabinete %}
								<option value="{{ tipo.id }}">
									{{ tipo.nome }}
								</option>
							{% endfor %}

						</select>

					</div>

					<div class="col-12 col-md-6">
						<select class="form-select rounded-pill py-2 px-4 border-0" name="uf" id="uf" required>
							<option disabled selected hidden value="">Escolha o estado</option>
						</select>
					</div>

					<div class="col-12">
						<select class="form-select rounded-pill py-2 px-4 border-0" name="id_parlamentar" id="parlamentar" required>
							<option disabled selected hidden value="">Selecione o parlamentar</option>
						</select>
					</div>

					<input type="hidden" name="nome_parlamentar">
					<input type="hidden" name="partido">

					<div class="col-12 d-flex gap-2 mt-3">
						<button type="submit" name="btn_salvar" class="btn btn-success rounded-pill py-2 w-100">Salvar</button>
						<a href="/login" class="btn btn-primary rounded-pill py-2 w-100">Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="js/form_cadastro.js"></script>
{% endblock %}
